.one {
  text-align: center;
  color: orange;
}
 .img {
  position: absolute;
   top: 50%;
   left: 62%;
   width: 130px;
   height: 200px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px;
}

.two {
  text-align: center;
  color: white;
  text-transform: inherit;
}

.buju {
  margin-left: 20px;
  margin-top: 300px;
  margin-right: 20px;
  font-family: lato;
  letter-spacing: 0.2px;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 290px;
}

body {
  background: url("file:///home/jessicah/Desktop/coderamp-selfassessments/sa1/assets/bg.jpg");
  filter: grayscale("http://www.beautycolorcode.com/b8b8b8-1440x900.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
span {
  text-transform: lowercase;
}

header {
  position:fixed;
	top:0.5px;
	left:336px;
	width:45.7%;
	color:#CCC;
	background:#333;
	padding:20px;
  height: 45px;
}


footer {
position:fixed;
bottom:0.18px;
left:336px;
width:47.5%;
color:black;
background:#333;
padding:8px;
height: 55px;
display: inline-table;
}

.dubs {
  position: absolute;
   top: 20%;
   left: 15%;
   width: 150px;
   height: 200px;

}
.style {
  border-radius: 45px;
-moz-border-radius: 45px;
-webkit-border-radius: 45px;
width: 150px;
height: 50px;
background-color: #505050;
display: block;
margin: auto;
position: absolute;
top: 190px;
bottom: 0;
left: 0;
right: 0;

}

.style p {
  color: orange;
  font-family: lato;
  text-align: center;
  text-indent: 50px;
  font-size: 22px;
  bottom: 200px;
  line-height: 10px;
}

#tag {
  position:absolute;
  left:30%;
  margin: auto;
  padding: 0.24;
  height: 200px;
  top: 180px;
}

#tag2 {
  position:absolute;
  right:-1600%;
  margin: auto;
  padding: 0.6;
  height: 200px;
  top: 10px;
  float: right;
}
