h1 {
  text-align: center;
  color: orange;
}
img {
  position: absolute;
   top: 60%;
   left: 62%;
   width: 150px;
   height: 150px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px;
}
.buju {
  margin-left: 20px;
  margin-top: 250px;
  margin-right: 20px;
  font-family: cabin condensed, sans serif;
  letter-spacing: 0.2px;
}

h2 {
  text-align: center;
}

body{
  background: url("file:///home/jessicah/Desktop/coderamp-selfassessments/sa1/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  float: left;
}
